# API Keys
EXERCISEDB_API_KEY=YOUR-API-KEY-HERE
EXERCISEDB_API_URL=https://exercisedb.p.rapidapi.com/exercises/equipment/body weight

# Database Credentials
SPRING_DATASOURCE_USERNAME=YOUR-USERNAME-HERE
SPRING_DATASOURCE_PASSWORD=YOUR-PASSWORD-HERE

# Database Names
TRAINING_DB_NAME=YOUR-DB-NAME-HERE
USER_DB_NAME=YOUR-DB-NAME-HERE
